@use "../Styles/variables.scss" as *;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

//Media queries
//For small screens
@media screen and (max-width: 768px) {
  .container {
    display: grid;
    justify-items: center;
    padding: 0;
  }
}
