@use "../Styles/variables.scss" as *;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &__item {
    border-radius: 15px;
    padding: 1rem;
    background-color: $grey-c;
  }

  &__item:hover {
    padding: 1rem;
    background-color: rgb(228, 228, 228);
  }

  &__img {
    border-radius: 12px;
    max-width: 16rem;
  }

  &__tittle-container {
    padding-top: 0.9rem;
    max-width: 200px;

    &__title {
      margin: 0;
      height: 40px;
      font-family: "Secular One", sans-serif;
    }
  }

  &__about {
    font-weight: bolder;

    &__ph {
      color: $blue-c;
      margin: 0;
    }

    &__abv {
      color: $red-c;
    }
  }

  &__button {
    background-color: $green-c;
    border-radius: 40px;
    border: none;
    padding: 0.8rem 2rem 0.8rem 2rem;
    font-size: medium;
  }

  &__button:hover {
    background-color: $blue-c;
  }

  &__item,
  &__about,
  &__tittle-container {
    display: grid;
    justify-items: center;
  }
}

//Media queries
//For small screens
@media screen and (max-width: 768px) {
  .container {
    display: grid;
    justify-items: center;
  }
}
