@use "../../Styles/variables.scss" as *;

.navbar {
  display: grid;
  justify-items: center;

  #input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0.5rem;
    width: 300px;
  }

  &__textInput {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  &__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
