@use "../../Styles/variables.scss" as *;

.navbar {
  display: grid;
  justify-items: center;

  #input {
    border-radius: 40px;
    border: 1px solid $green-c;
    padding: 0 2.8rem 0 2.8rem;
    width: 300px;
    height: 60px;
  }

  &__textInput {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  &__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $red-c;
  }
}

//Input placeholder
::-webkit-input-placeholder {
  color: $blue-c;
  font-size: 20px;
}
